<div class="spacer paddingTop-100 visible-sm"></div>
<div class="col-xs-12 text-center paddingTop-50 paddingBottom-20">
  <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2" id="logo-container">
    <%= image_tag("CC_logo.png") %>
    <h2 class="coming-soon hidden-xs">Coming &nbsp;Soon</h2>
  </div>
</div>

<div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center paddingTop-20 hidden-xs">
  <%= image_tag("Landing_Tablet.png") %>
</div>

<div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center paddingTop-10 paddingBottom-10 visible-xs not-ipad">
  <%= image_tag("Landing_sansTablet.png") %>
</div>

<div class="col-xs-12 col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center static-form">
  <p class="col-xs-12">Leave your name and email to see a sneak peek</p>

  <%= form_for @user do |f| %>
    <div class="col-sm-4"><%= f.text_field :name , :placeholder => 'Name' %></div>

    <div class="col-sm-6"><%= f.text_field :email , :placeholder => 'Email' %></div>

    <div class="col-sm-2"><%= f.submit "NEXT" , :class => "button" %></div>
  <% end %>
</div>